<strong><b><font color="#990033"><h1>Bookmarks</h1></font>
<body background="https://c1.staticflickr.com/1/130/376152628_249e3630c0_b.jpg">
    <font color="#99cc00"><h2 style="font-family:'Franklin Gothic Medium';"><font size="18px">Welcome to Djorg</font></h2>

{% if bookmarks %}

Bookmarks:

<ol>
    {% for bookmark in bookmarks %}
    <li><a href="{{ bookmark.url }}">{{ bookmark.name }}</a></li>
    {% endfor %}
</ol>


{% else %}
No bookmarks for YOU!!!
{% endif %}


{% if personal_bookmarks %}

Personal Bookmarks:

<ol>
    {% for bookmark in personal_bookmarks %}
    <li><a href="{{ bookmark.url }}">{{ bookmark.name }}</a></li>
    {% endfor %}
</ol>


{% else %}
You have no personal bookmarks
{% endif %}


<h2>New Bookmark</h2>

<form method="POST" class="bookmark-form">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="save btn btn-default">Save</button>
</form></b></strong>